@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
  }

   .main-menu {
      display: flex;
      max-width: 940px;
      margin: 36px auto;
  }

  header .menu {
    display: flex;
    margin-left: 123px;
  }

  header .menu a {
    margin-right: 30px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto' , sans-serif;

  }

  header .menu a:hover {
    font-weight: bold;
  }

  .banner {
      width: 940px;
      margin: 0 auto 50px;
      height: 366px;
      background-color: #FBDFDB;
      border-radius: 30px;
      position: relative;
  }

  .banner img {
      position: absolute;
      right:100px;
      bottom: 0;
  }

  .banner .descricao h2 {
      font-size: 32px;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      color: #111111;
      position: absolute;
      left: 60px;
      top: 117px;   
  }

  .banner .descricao p {
    font-size: 18px;
    font-family: 'Roboto' , sans-serif;
    width: 316px;
    height: 84px;
    line-height: 28px;
    color:#000000;
    position: absolute;
    left: 60px;
    top: 165px;

  }

  .title {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    max-width: 940px;
    margin: 0 auto 20px; 
  }

  .galeria_receitas {
    margin: 0 auto;
    max-width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .receitas img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
  }

  .receitas h4 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #111111;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .receitas h5 {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #777777;
    font-weight: normal;  
  }
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 63px;
  margin-top: 50px;
  background: #EEEEEE;
}

footer p {
  font-size: 14px;
  color:#999999;
  font-family: 'Roboto', sans-serif;
  
}

.about {
  font-size: 24px;
  width: 940px;
  margin: 0 auto 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #111111;
}

.about_text {
  font-size: 20px;
  width: 940px;
  margin: 0 auto;
  font-family: 'Roboto' , sans-serif;
  color: #444444;
}

.beginning {
  font-size: 20px;
  width: 940px;
  margin: 30px auto 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #111111;
}

.beginning_text {
  font-size: 20px;
  width: 940px;
  margin: 0 auto;
  font-family: 'Roboto' , sans-serif;
  color: #444444;
}

.recipes {
  font-size: 20px;
  width: 940px;
  margin: 30px auto 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #111111;
}

.recipes_text {
  font-size: 20px;
  width: 940px;
  margin: 0 auto;
  font-family: 'Roboto' , sans-serif;
  color: #444444;
}
